.fourDivs{
   
    text-align:left;
    background:white;
    padding:4%
}
.gridFourdivs{
    display:grid;
    width:50%;
    grid-template-columns:repeat(2,12rem);
    grid-template-rows:repeat(2,15rem);
    gap:5%;
    margin-left:15%;
    padding-top:5%;
    padding-bottom: 5%;
}
.styleforh4{
    font-weight:bold;
    font-size:1.7rem
}
.imgstyleInh4{
    width:30%;
    height:25%
}
.desiMeals{
    font-size:3rem;
    font-family:bolder;
    color:red;
}

.order-desi{
    padding:5%
}
.order-desi>h2{
margin-bottom: 5%;
}
.order-desi-h2{
margin-bottom: 5%;
font-style: oblique;
font-size: large;
}
.imgstyleInDesi{
    width:100%;
    height:100%;
    border-radius: 12px;
}
.order-desi-box{
    width:100%;
     display:flex;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     margin-bottom: 15px;
   
  
}

.secondImage-mobile{
    width: 200px;
    position: absolute;
    bottom: 0;
    right: 120px;
   
}
.firstImage-mobile{
    width: 200px;
    position: absolute;
}
